<!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->

<app-search (isChanged)="displ($event)"></app-search>
<!-- <ng-progress></ng-progress> -->
<button id="btn" class="btn btn-primary" (click)=goTourl()>{{gitUser.username}}</button>
<div class=" container ">
    <!-- <button class="btn " ngModel name="gif " #gif="ngModel " (change)="search(gif.value) ">{{gitUser.username}}</button> -->
    <div class="row ">
        <div class="col-4 p-4 ">

            <img src="{{gitUser.url}} " alt="avatar_url " class="w-100 ">
        </div>
        <div class="col-8 ">
            <mat-tab-group mat-align-tabs="center " mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4 text-white ">
                <mat-tab label="Overrview ">
                    <div appClickDirective>
                        <p>We Know little about
                            <span style="color:white" (click)=goTourl()>{{gitUser.username}}</span></p>
                        <p>Date created: {{gitUser.created_at|pipe}}</p>
                        <p>{{"Name: "+gitUser.username}}</p>
                    </div>
                </mat-tab>
                <mat-tab label="Repository ">
                    <div class=" d-flex justify-content-around flex-wrap ">

                        <div *ngIf="repository.length==0 then thenBlock; else elseBlock "></div>

                        <ng-template #thenBlock>
                            <p>Nothing to display</p>

                        </ng-template>
                        <ng-template #elseBlock>
                            <app-repo-design></app-repo-design>
                            <!-- <div *ngFor="let rep of repository " class="m-2 ">
                                <p *ngIf="rep.length==0 ">User has no public repos</p>
                                <app-repo-design>
                                </app-repo-design>
                            </div> -->
                        </ng-template>
                    </div>

                </mat-tab>
                <mat-tab label="Folowers ">
                    <p>{{gitUser.username+" has: " + gitUser.followers +' followers '}}</p>
                    <p>{{gitUser.username+" has: " + gitUser.following +' following '}}</p>
                </mat-tab>
            </mat-tab-group>

        </div>
    </div>
    <div class="container d-flex justify-content-between bg-light ">
        <p>created at: {{gitUser.created_at|pipe}}</p>
        <a href={{gitUser.user_repo}} class="bg-light ">See more in github</a>
    </div>