<div class="container d-flex flex-wrap">
    <div *ngFor="let rep of repos" class="m-2">
        <p *ngIf="repos.length==0">User has no public repos</p>

        <div class="card" style="width: 18rem;">

            <div class="card-body" appClickDirective>
                <h5 class="card-title">{{rep.name}}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <p>{{rep.language}}</p>

                <div>
                    <a href="{{rep.html_url}}" class=" btn btn-primary ">View Project</a>
                </div>


            </div>
        </div>
    </div>
</div>